.Meaning h2, p {
    margin: 0;
}

.Meaning h2 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center; 
}

.Meaning p {
    text-align: left; 
}

.Meaning .definition {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.Meaning .definition span,
.Meaning .synonym span {
    font-weight: bold;
}

.Meaning .example {
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    opacity: 0.6;
    padding-bottom: 10px;
}

.Meaning .synonym {
    font-size: 15px;
    opacity: 0.8;
}

@media (max-width: 480px) {
    .Meaning h2 {
        font-size: 18px;
    }
    .Meaning .definition {
        font-size: 14px;
        line-height: 1.2;
    }
}