.Meaning h4, p {
margin: 0;
}

.Meaning h2 {
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    text-align: center; 
}

.Meaning p {
    text-align: left; 
}

.Meaning .definition {
    font-size: 16px;
    margin: 10px 0;
}

.Meaning .definition span,
.Meaning .synonym span {
    font-weight: bold;
}

.Meaning .example {
    font-size: 14px;
    font-style: italic;
    opacity: 0.6;
}

.Meaning .synonym {
    font-size: 15px;
    opacity: 0.8;
}
