:root {
    --primary-color: #8B8F5D;
    --secondary-color: #B75724;
    --background-color: #f5e8e2;
    --background-color2: #E38351;
    --border-color: #7E5E53;
  }
  .SearchResults {
      box-shadow: 0 8px 20px 0px var(--background-color2);
      margin-top: 20px;
  }

  .SearchResults .SearchedWord,
  .SearchResults .WordMeanings,
  .SearchResults .WordPhotos {
    background-color: var(--background-color);
    border: 1px ridge var(--border-color);
    border-radius: 4px;
  }

.SearchResults {
    display: flex;
    flex-wrap: wrap;
}

.SearchResults .SearchedWord {
    flex: 1;
    flex: 100%; 
    padding: 10px;
    background-color: var(--background-color2);
    align-items: baseline;
}

.SearchResults .SearchedWord h2 {
    text-transform: uppercase;
    margin: 0 30px;
    font-size: 24px;
}

.SearchResults .WordMeanings {
    flex: 2;
    padding: 10px;
}

.SearchResults .WordPhotos {
    flex: 1;
    padding: 10px;
}

@media (max-width: 480px) {
    .SearchResults .SearchedWord {
        order: 1;
    }
    .SearchResults .WordMeanings {
        order: 2;
        flex: 1;
        flex: 100%; 
    }
    .SearchResults .WordPhotos {
        order: 3;
        flex: 1;
        flex: 100%; 
    }
    .SearchResults .SearchedWord h2 {
        font-size: 20px;
    }
}

